@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dots</h1>
    by Volodymyr Hutsuliak
    <br>
    <br>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    <a href = "/Game"><h5> Play </h5></a>
    <br>
    <a href = "/Reviews"><h6> Reviews </h6></a>
</div>
